doctype html
html
  head
    title #{project.name}
    link(rel='stylesheet',type='text/css',href='./css/style.css')
  body
    h1 News : #{project.greeting}
    This page has no own config.

    ul.navigation
        each key in navigation
            li
                a( href="#{key.href}" ) #{key.name}
